Django==5.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
Pillow==10.2.0
pytesseract==0.3.10
celery==5.3.6
redis==5.0.1
python-dotenv==1.0.1
ollama==0.1.6
pdf2image==1.17.0
PyPDF2==3.0.1
drf-yasg==1.21.7
uritemplate==4.1.1
